
  .btn-3 {
    scale: 0.65;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
   
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #da6c3a;
    padding: 20px 60px 20px 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
  }
  
  .btn-3 .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .btn-3:hover {
    background-color: #da6c3a;
  }
  
  .btn-3:hover .button__icon-wrapper {
    color: #da6c3a;
  }
  
  .btn-3 .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .btn-3:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .btn-3:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  
  