.contact_button {
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    justify-content: center;
}
.contact_image {
    width: 20px;
    height: 20px;
    margin-right: 10px
}
.contact_header {
    margin: auto;
    text-align: center;
    width: 800px;
    font-size: 3rem;
    color: rgb(184, 183, 183);
}
