
.service_icons {
   width: 100%;
   aspect-ratio: 16 / 10;
   object-fit: cover;
   margin: auto;
   place-items: center;
   border-radius: 20px;
} 
.service_content {
    display: flex;
    
}
.service_images {
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 30px;
    border: 1px solid #262626;
    width: 100%; 
   padding: 1rem;
    background: linear-gradient(180deg, #1e1e1e 0%, rgb(20, 20, 20) 100%);
    height: auto;
    box-sizing: border-box;
}
.h-3_title {
    text-align: center ;
    color: #1eb2a6;
}