.hero {
    margin-top: 6rem;
    height: auto !important;  
    color: #fff; 
  }
  .hero_container {
    display: flex;
  }
  .button {
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1eb2a6;
    color: #fff;
    max-width: 200px;
    width: 100%;
    padding: 1rem 0 1rem 0rem;
    border-radius: 30px;
    border: #1eb2a6;
    font-family: "Poppins", sans-serif;
  }
  .hero #heading h3 {
    color: #fff;
  }
  .hero_main_image {
    width: 400px;
    height: 500px;
  }
  .hero h1 {
    font-size: 2.7rem;
    margin-top: 10px;
    
  }
  .hero p {
    margin-top: 10px;
    font-size: 13px;
   font-weight: 100;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .custom-button {
    position: absolute;
    top: 20rem;
    left: 50rem;
    z-index: 30;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem; 
    display: flex;
    align-items: center;
    border-radius: 0.375rem; 
    font-family: var(--body-font);
    border: none;
  }

  .custom-button-secondary {
    position: absolute;
    bottom: 8rem; 
    left: 65rem; 
    z-index: 30;
    background-color: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem; 
    padding-right: 2rem; 
    display: flex;
    align-items: center;
    border-radius: 0.375rem; 
    border: none;
    font-family: var(--body-font);
  }

 .custom-button-third {
  position: absolute;
  left: 80rem; 
  z-index: 30;
  background-color: white; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 0.5rem; 
  padding-right: 2rem; 
  display: flex;
  align-items: center;
  border-radius: 0.375rem; 
  border: none;
  font-family: var(--body-font);
 }
  .icon-inner {
    width: 1.5rem; 
    height: 1.5rem;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem; 
  }
  
  .text-primary {
    font-size: 0.875rem; 
    color: black;
  }
  
  .text-secondary {
    font-size: 0.75rem; 
    color: rgb(124, 124, 124);
  }
 
  .icon {
    width: 2.5rem; 
    height: 2.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: var(--first-color); 
    color: white;
  }
  @media screen and (max-width: 2230px) {
    .custom-button {
      top: 25rem;
      left: 65rem;
    }
  
    .custom-button-secondary {
      bottom: 8rem; 
      left: 85rem; 
    }
  
   .custom-button-third {
    left: 95rem; 
   }
  }
  @media screen and (max-width: 1630px) {
    .custom-button {
      top: 25rem;
      left: 50rem;
    }
  
    .custom-button-secondary {
      bottom: 8rem; 
      left: 65rem; 
    }
  
   .custom-button-third {
    left: 75rem; 
   }
  }
  @media screen and (max-width: 1230px) {
   .hero_container {
    margin-top: 7rem;
   }
   .custom-button {
    top: 25rem;
    left: 30rem;
  }

  .custom-button-secondary {
    bottom: 8rem; 
    left: 45rem; 
  }

 .custom-button-third {
  left: 50rem; 
 }
  }
 
  @media screen and (max-width: 992px) {
    .hero .row {
      width: 100%;
    }
    .custom-button {
      top: 30rem;
      left: 24rem;
    }
  
    .custom-button-secondary {
      bottom: 8rem; 
      left: 35rem; 
    }
  
   .custom-button-third {
    top: 20rem;
    left: 35rem; 
   }
    
  }
  @media screen and (max-width: 768px) {
   
    
  }
  @media screen and (max-width: 576px) {
    .row_button {
      display: none;
    }
    .button {
      justify-content: center;
    }
    .hero_container {
        margin-top: 2rem;
    }
    .hero #heading h3 {
        color: #fff;
      }
      .hero p {
        font-size: 12px;
      
      }
      .hero #heading {
        text-align: center;
       
      }  
   }



 
  

  