.banner_section {
    display: flex;
    margin: auto;
    position: relative;
    height: 100vh;
    place-items: center;
}

.banner_container {
    width: 100% !important;
    max-width: 1050px !important;
    background: linear-gradient(180deg, #1e1e1e 0%, rgb(20, 20, 20) 100%);
    min-height: 500px;
    border-radius: 30px;
    margin:  auto;
    align-items: center;
    display: grid;
    padding: 3rem;
    
}
.banner_input {
    border: none;
   outline: none;
   border-radius: 1rem;
   color: white !important;;
   background: none;
   font-family: "Poppins", sans-serif;
}
.banner {
    display: flex;
    justify-content: center;
}
.banner_button {
    background-color:  #1eb2a6;
    max-width: 300px;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}
.banner_newsletter {
    justify-content: center;
   
    gap: 11rem;
    align-items: center;
    place-items: center;
    display: flex;
    max-width: 800px;
    width: 70%;
    border: 1px solid rgb(77, 75, 74);
    border-radius: 3rem;
    padding: 5px 0px 5px 10px;
}
.banner_header-1 {
    text-align: center;
    color: white !important;
    font-size: 3rem;
    font-weight: normal !important;;
}
.banner_paragraph {
    text-align: center;
    margin-bottom: 2rem;
}
.banner_box {
    gap: 1rem !important;
    display: grid !important;
}
@media (max-width: 1230px) {
    .banner_section  {
        max-width: 900px;
        display: flex;
        margin: auto;
        height: 70vh;
    }
  }
  
  @media (max-width: 992px) {
    .banner_section  {
        max-width: 600px;
        display: flex;
        margin: auto;     
    }
    .banner_newsletter {
        width: 90%;
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .banner_input {
        display: none;
    }
    .banner_newsletter {
        width: 55%;
        gap: 0rem;
    }
    .banner_container {
      width: 50%;
    }
    .banner_section  {
        max-width: 700px;
        display: flex;
        margin: auto;
        
    }
  }
@media (max-width: 576px) {
    .banner_header-1 {
        font-size: 2.2rem;
    }
    .banner_section {
        max-width: 350px;
        top: 7rem !important;
        height: 100vh;
    } 
}
@media (max-width: 350px) {
   
   
}