.first_page_section {
    position: relative;
    height: auto;
    margin-top: 15rem;
}
.first_page_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.first_page_box {
    margin: auto;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #1e1e1e 0%, rgb(20, 20, 20) 100%);
    padding: 1rem;
    padding-bottom: 6rem;
    
}
.first_page_box_image {
    overflow: hidden;
}
.first_page_image {
    width: 100%; 
    aspect-ratio: 16 / 9; 
    object-fit: cover;
}
.first_page_i {
    display: flex;
    color: var(--first-color);
    gap: 1rem;
    margin: auto;
    padding: 1rem;
}
.first_page_i p {
    font-size: 12px;
    line-height: 15px;
    color: rgb(199, 199, 199);
}
.first_page_i_container {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 1rem;
}
.first_page_box h1 {
    color: white;
    padding: 1rem;
    margin-left: 0.5rem;
}
.bottom_paragraph {
    margin-left: 2rem;
   
}
.bottom_paragraph p {
    font-size: 14px;
 
}
.bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-6 {
    position: absolute;
    scale: 0.5;
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background:#1eb2a6;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
  .btn-6 .btn-content {
    display: flex;
    align-items: center;
    padding: 4px 20px 4px 28px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text);
    background: var(--first-color);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-6 .btn-content:hover,
  .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-6 .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-6 .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .btn-6 .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 2px;
    scale: 0.8;
  }
  
  /* SVG */
  .btn-6 #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .btn-6 #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-6 .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-6 .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-6 .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

  /* For large devices */
@media screen and (max-width: 1230px) {
  .first_page_i_container {
    display: block;
}
  .first_page_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.first_page_box {
  width: auto;
  height: 600px;
}
}

@media screen and (max-width: 992px) {

}

/* For medium devices */
@media screen and (max-width: 768px) {
  .first_page_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.first_page_box {
  width: 80%;
  height: 650px;
}
}

@media screen and (max-width: 576px) {
  .first_page_i_container {
    display: block;
}
  .first_page_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 
    
}
.first_page_box {
  width: auto;
  height: 600px;
}
}

/* For small devices */
@media screen and (max-width: 350px) {
 
}
