.faq_section {
  position: relative;
  max-width: 1000px;
  margin: 8rem auto;
  padding: 0;
  color: #4d5974;
  background-color: var(--body-color);
  display: flex;
  height: auto;
  align-items: center;
  border-radius: 40px;
  margin-top: 33rem;
}

.faq_container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.faq_container h2 {
  text-align: center;
  color: #1eb2a6;
}

.faq_container p {
  margin-top: 2rem;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 200;
}

.accordion {
  margin-top: 4rem;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-family: var(--body-font);
  color: rgb(148, 147, 147);
  font-size: 1rem;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  color: #1e1e1e;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 20em; 
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  max-width: 1000px;
  background-color: #1e1e1e;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  border-radius: 20px;
}

.accordion .accordion-content p {
  height: auto;
  text-align: justify;
  font-size: 0.90rem;
  font-weight: 300;
  margin: 2em;
  color: rgb(112, 111, 111);
  text-indent: 0;
  margin-bottom: 2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  
  .accordion button[aria-expanded="true"] + .accordion-content {
    max-height: 30em; 
  }

  .faq_container {
    padding: 2rem;
    width: 90%; 
  }

  .faq_container h2 {
    font-size: 2.5rem; 
  }

  .faq_container p {
    font-size: 1.5rem; 
  }

  .accordion .accordion-content p {
    font-size: 1rem; 
    margin: 2em;
  }
}
@media (max-width: 380px){
  
}